# 𝙄𝙂𝙉𝙊𝙍𝙀 𝙈𝙀! 🙈
main.js
dist
# runtime data
*.iml
*.log
*.map
*.pid
*.pid.lock
*.seed
*.tgz
.env
.eslintcache
.grunt
.idea
.lock-wscript
.node_repl_history
.npm
.nyc_output
.vscode
.yarn-integrity
Session.vim
build/Release
coverage
data.json
jspm_packages/
lib-cov
node_modules
npm-debug.log*
pids
typings/
yarn-debug.log*
yarn-error.log*
package-lock.json
bun.lockb

# swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# apple
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.netrwhist
*~
tags
.DS_Store
.AppleDouble
.LSOverride
# icon must end with two \r
Icon


# thumbnails
._*
