:root {
	--background-modifier-border: #2c1c42;
	--background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
	--background-modifier-cover: #151515;
	--background-modifier-error-hover: #db6088;
	--background-modifier-error-rgb: 61, 0, 0;
	--background-modifier-error: #db6088;
	--background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
	--background-modifier-form-field: rgba(0, 0, 0, 0.3);
	--background-modifier-success: #8edf5f;
	--background-primary-alt: #39274c;
	--background-primary: #201430;
	--background-secondary-alt: #483160;
	--background-secondary: #452f5c;
	--divider-color-hover: #39274c;
	--divider-color: #452f5c;
	--highlight-mix-blend-mode: darken;
	--interactive-accent: #8edf5f;
	--interactive-accent-hover: #87ff5f;
	--interactive-normal: #43492a;
	--interactive-hover: #444444;
	--interactive-success: #8edf5f;
	--ribbon-background: #483160;
	--scrollbar-active-th: rgba(255, 255, 255, 0.2);
	--scrollbar-bg: rgba(255, 255, 255, 0.05);
	--scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
	--link-color-hover: #ce67f0;
	--link-color: #b968fc;
	--link-decoration: dashed;
	--link-external-color-hover: #ce67f0;
	--link-external-color: #b968fc;
	--link-external-decoration: wavy;
	--link-unresolved-color: #666;
	--link-unresolved-decoration-color: #9f50e1;
	--text-accent-hover: #875faf;
	--text-accent: #875faf;
	--text-error-hover: #db6088;
	--text-error: #db6088;
	--text-faint: #ada4a0;
	--text-highlight-bg-active: rgba(135, 255, 95, 1);
	--text-highlight-bg: rgba(135, 255, 95, 0.85);
	--text-muted-rgb: 153, 153, 153;
	--text-muted: #d4d4d4;
	--text-normal: #e1d6f8;
	--text-on-accent: #d4d4d4;
	--text-selection: #9cda7c;
	--code-background: #30213f;
	--code-comment: #a1a0ad;
	--code-function: #9cda7c;
	--code-important: #8bd450;
	--code-keyword: #87ff5f;
	--code-normal: #e1d6f8;
	--code-operator: #b968fc;
	--code-property: #ce67f0;
	--code-punctuation: #b968fc;
	--code-string: #ab92fc;
	--code-tag: #e6bb85;
	--code-value: #d99145;
	--table-background: transparent;
	--table-border-color: #483160;
	--table-border-width: 1;
	--table-header-background: #9f50e1;
	--table-header-border-color: #9f50e1;
	--table-header-color: #000000;
	--table-text-color: #e1d6f8;
	--table-selection: #9cda7c;
	--table-selection-border-color: #87ff5f;
	--table-selection-border-width: 1;
	--table-drag-handle-background: #452f5c;
	--table-drag-handle-color: #e1d6f8;
	--table-add-button-background: #452f5c;
	--table-add-button-border-width: 0;
	--table-add-button-border-color: #e1d6f8;
	--tag-color: #87ff5f;
	--tag-background: #67478a;
	--tag-radius: 0px;
	--tab-curve: 0;
	--tab-gap: 5px;
	--tab-radius: 0;
	--tab-radius-active: 0;
	--input-radius: 0px;
	--dropdown-background: #39274c;
	--prompt-border-width: 1px;
	--prompt-border-color: #67478a;
	--nav-indentation-guide-color: #28163b;
	--nav-collapse-icon-color: #d99145;
	--nav-collapse-icon-color-collapsed: #c88034;
	--font-ui-mobile: 14px;
	--font-code-mobile: 11px;
}
.markdown-preview-view,
.markdown-reading-view {
	background: var(--background-secondary);
	width: 80% !important;
	margin: 0 auto;
}
body {
	background: var(--background-primary);
	padding: 0 !important;

	a,
	a:visited,
	a:hover {
		text-decoration: none;
	}
}
body:has(.midnight) {
	background: #000 !important;
	.markdown-preview-view,
	.markdown-reading-view,
	.markdown-preview-section {
		background: #000 !important;
	}
}

.markdown-preview-sizer.markdown-preview-section {
	margin: 0 auto;
	max-width: 88ch;
	min-width: 80ch;
}
/* front matter */
.mod-header {
	display: none !important;
}

/* footnotes */
.cm-s-obsidian span.cm-footref,
a.footnote-link,
sup[data-footnote-id] {
	color: #77f99b;
	padding-left: 2px;
	filter: drop-shadow(1px 2px 0px #101010);
}

/* code blocks */
code {
	box-sizing: border-box;
	border-bottom: 3px solid #151515 !important;
	font-weight: strong;
}
pre code,
code code {
	box-sizing: content-box !important;
	border-bottom: 0 !important;
}
.HyperMD-codeblock.cm-line:not(.cm-active),
code,
pre {
	white-space: pre;
	border-radius: 0 !important;
	background: #39274C !important;
	font-size: var(--font-ui-small);
}
li code {
	display: inline-flex;
	word-break: break-all;
	white-space: normal !important;
}
pre,
.HyperMD-codeblock-end {
	box-sizing: border-box;
	border-bottom: 4px solid #151515 !important;
}

.cm-preview-code-block:hover {
	box-shadow: unset !important;
}

.copy-code-button {
	text-indent: -9999px;
	line-height: 0;
	border: 0 !important;
	background: transparent !important;
	padding: 0 2px 0 0 !important;
}

.copy-code-button::after {
	content: "\f018f";
	text-indent: 0;
	display: block;
	line-height: initial;
	color: #00ff00;
}

.code-block-flair {
	display: none !important;
}

.cm-s-obsidian span.cm-inline-code {
	background: #30213f !important;
	--code-background: #30213f;
	--code-normal: #e1d6f8;
	--code-string: #ab92fc;
	border-radius: 0 !important;
	box-sizing: border-box;
	border-bottom: 4px solid #151515 !important;
}

.expressive-code {
	.copy button {
		transform: scale(0.6) !important;
		margin-bottom: -15px !important;
		margin-right: -10px !important;
		background-color: transparent !important;
		&::before {
			border: 0 !important;
		}
		&::after {
			background-color: #00ff00 !important;
			border: 0 !important;
		}
		&:active,
		&:hover {
			background-color: transparent !important;
		}
	}
	.sr-only,
	.ec-line.ins {
		background: linear-gradient(
			90deg,
			rgba(50, 55, 32, 1) 60%,
			rgba(48, 33, 63, 1) 100%
		) !important;

		.code {
			border-color: #9cda7c !important;
			&::before {
				color: #9cda7c !important;
			}
		}
	}

	.ec-line.mark {
		background: #2d1f38;
		background: linear-gradient(
			90deg,
			rgba(72, 49, 96, 1) 60%,
			rgba(48, 33, 63, 1) 100%
		) !important;
	}

	.ec-line .gutter {
		color: #a1a0ad;
	}

	.ec-line:has(.gutter) .code {
		border-color: #483160;
	}

	.ec-line.mark .code {
		border-color: #67478a !important;
	}

	.ec-line.del,
	.ec-line.ins,
	.ec-line.mark {
		.gutter {
			color: #e1d6f8 !important;
		}
	}

	.ec-line.del {
		background: linear-gradient(
			90deg,
			rgba(69, 35, 47, 1) 60%,
			rgba(48, 33, 63, 1) 100%
		) !important;

		.code {
			border-color: #ae1018 !important;
			&::before {
				color: #ae1018 !important;
			}
		}
	}
}

.frame {
	border: none !important;
	box-shadow: none !important;

	& .header {
		background: none !important;
		display: block !important;
		border: none !important;

		&::after,
		&::before {
			display: none !important;
		}

		.title:empty {
			display: none;
		}

		.title {
			background: #483160 !important;
			padding: 8px !important;
			border-top: 2px solid #875faf;
			box-sizing: border-box;
			border-bottom: 2px solid #151515 !important;

			&::after {
				border: none !important;
			}
		}
	}
}

.frame.has-title:not(.is-terminal) .title {
	border-top: 2px solid #875faf !important;
	margin-bottom: -6px !important;
	display: inline-block;
	padding: 6px !important;
}

/* syntax highlighting */
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #a1a0ad;
}

.token.punctuation {
	color: #b968fc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.number,
.token.unit,
.token.hexcode,
.token.deleted {
	color: #e6bb85;
}

.token.property,
.token.selector {
	color: #ce67f0;
}

.token.function-name {
	color: #9cda7c;
}

.token.boolean,
.token.selector .token.id,
.token.function {
	color: #d99145;
}

.token.class-name {
	color: #87ff5f;
}

.token.constant,
.token.symbol {
	color: #8bd450;
}

.token.important,
.token.atrule,
.token.keyword,
.token.selector .token.class,
.token.builtin {
	color: #87ff5f;
}

.token.string,
.token.char {
	color: #e1d6f8;
}

.token.attr-value,
.token.regex,
.token.variable {
	color: #a4d2ec;
}

.token.operator,
.token.entity,
.token.url {
	color: #b968fc;
}

.token.inserted {
	color: #87ff5f;
}

/* callouts */
blockquote:before,
blockquote {
	border: 2px solid;
	border-image: linear-gradient(
		to right bottom,
		#87ff5f 0,
		#875faf 45%,
		rgba(20, 14, 30, 0) 85%
	);
	border-image-slice: 1;
	padding: 10px;
	margin: 1em 0;
}

blockquote p {
	display: inline;
}

blockquote {
	margin-inline-start: 0;
	margin-top: 1em;
	margin-bottom: 1em;
}

.markdown-source-view,
.is-live-preview,
.markdown-rendered {
	.callout {
		padding: 15px;
		border-radius: 0;
		margin-top: 1em;
		margin-bottom: 1em;
		mix-blend-mode: normal;

		a svg {
			padding-right: 3px;
		}

		.callout-title-inner,
		em,
		strong,
		.cm-em,
		.cm-strong {
			color: #201430;
		}

		* {
			margin: 0px !important;
		}

		.cm-hmd-internal-link,
		.internal-link,
		.cm-url,
		.external-link {
			color: #201430 !important;
			text-decoration-thickness: 1px;
			text-decoration: underline;
			text-underline-offset: 1.5px;
			text-decoration-style: wavy;
		}

		.cm-hmd-internal-link,
		.internal-link {
			text-decoration-color: #9f50e1;
		}

		.cm-url,
		.external-link {
			text-decoration-color: #87ff5f;
		}

		a,
		a:visited,
		.cm-hmd-internal-link,
		.cm-url,
		.internal-link,
		.external-link {
			font-weight: bold;
		}
		code {
			border-bottom: 0 !important;
			background: #9284fc;
			color: #201430;
			font-weight: bold !important;
		}
	}

	.callout[data-callout="bug"],
	.callout[data-callout="error"],
	.callout[data-callout="danger"] {
		background: #db6088;
		--callout-color: #201430;
		color: #201430;

		code {
			background: firebrick !important;
			color: #151515 !important;
		}

		.cm-hmd-internal-link,
		.internal-link {
			text-decoration-color: #9f50e1;
		}

		.cm-url,
		.external-link {
			text-decoration-color: #87ff5f;
		}
	}

	.callout[data-callout="fail"],
	.callout[data-callout="failure"],
	.callout[data-callout="missing"] {
		background: #db6088;
		--callout-color: #201430;
		color: #201430;

		code {
			background: firebrick !important;
			color: #000;
		}

		.cm-url,
		.external-link {
			text-decoration-color: firebrick;
		}

		.cm-hmd-internal-link,
		.internal-link {
			text-decoration-color: firebrick;
		}
	}

	.callout[data-callout="success"],
	.callout[data-callout="check"],
	.callout[data-callout="done"] {
		background: #9cda7c;
		--callout-color: #201430;
		color: #201430;

		code {
			background: #87ff5f !important;
			color: #74008e !important;
		}

		.cm-s-obsidian span.cm-footref,
		a.footnote-link,
		sup[data-footnote-id] {
			color: #ce67f0;
			padding-left: 2px;
			filter: none !important;
		}

		.cm-url,
		.external-link {
			text-decoration-color: #43492a;
		}
	}

	.callout[data-callout="important"],
	.callout[data-callout="info"],
	.callout[data-callout="warning"],
	.callout[data-callout="summary"],
	.callout[data-callout="abstract"],
	.callout[data-callout="tldr"],
	.callout[data-callout="caution"] {
		background: #e6bb85;
		--callout-color: #201430;
		color: #201430;

		code {
			background: #d99145 !important;
			color: #201430 !important;
		}

		.cm-url,
		.external-link {
			text-decoration-color: #436a2a;
		}
	}

	.callout[data-callout="example"] {
		background: #ab92fc;
		--callout-color: #201430;
		color: #201430;

		code {
			background: #9284fc !important;
			color: #151515 !important;
		}

		.cm-hmd-internal-link,
		.internal-link {
			text-decoration-color: #452f5c;
		}
	}
	.callout[data-callout="question"],
	.callout[data-callout="note"],
	.callout[data-callout="help"],
	.callout[data-callout="faq"],
	.callout[data-callout="tip"],
	.callout[data-callout="default"],
	.callout[data-callout="hint"],
	.callout[data-callout="todo"],
	.callout[data-callout="attention"],
	.callout[data-callout="quote"] {
		background: #ab92fc;
		--callout-color: #201430;
		color: #201430;

		code {
			background: #9284fc !important;
			color: #201430 !important;
		}

		.cm-url,
		.external-link {
			text-decoration-color: #87ff5f;
		}

		.cm-hmd-internal-link,
		.internal-link {
			text-decoration-color: #452f5c;
		}
	}

	.callout[data-callout="important"] {
		code {
			color: #151515 !important;
			background: #d99145 !important;
		}
	}

	.callout[data-callout="default"] .callout-icon {
		background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="lightblue" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-feather"><path d="M12.67 19a2 2 0 0 0 1.416-.588l6.154-6.172a6 6 0 0 0-8.49-8.49L5.586 9.914A2 2 0 0 0 5 11.328V18a1 1 0 0 0 1 1z"/><path d="M16 8 2 22"/><path d="M17.5 15H9"/></svg>');
	}
	.callout[data-callout="error"] .callout-icon {
		background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="red" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-skull"><path d="m12.5 17-.5-1-.5 1h1z"/><path d="M15 22a1 1 0 0 0 1-1v-1a2 2 0 0 0 1.56-3.25 8 8 0 1 0-11.12 0A2 2 0 0 0 8 20v1a1 1 0 0 0 1 1z"/><circle cx="15" cy="12" r="1"/><circle cx="9" cy="12" r="1"/></svg>');
	}
	.callout[data-callout="caution"] .callout-icon,
	.callout[data-callout="warning"] .callout-icon {
		background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="orange" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-triangle-alert"><path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3"/><path d="M12 9v4"/><path d="M12 17h.01"/></svg>');
	}
	.callout[data-callout="attention"] .callout-icon {
		background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="lightblue" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-triangle-alert"><path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3"/><path d="M12 9v4"/><path d="M12 17h.01"/></svg>');
	}
	.callout[data-callout="abstract"] .callout-icon {
		background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="orange" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-scroll"><path d="M19 17V5a2 2 0 0 0-2-2H4"/><path d="M8 21h12a2 2 0 0 0 2-2v-1a1 1 0 0 0-1-1H11a1 1 0 0 0-1 1v1a2 2 0 1 1-4 0V5a2 2 0 1 0-4 0v2a1 1 0 0 0 1 1h3"/></svg>');
	}
	.callout[data-callout="example"] .callout-icon {
		background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="lightblue" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-book-marked"><path d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H19a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H6.5a1 1 0 0 1 0-5H20"/><path d="M10 2v8l3-3 3 3V2"/></svg>');
	}
	.callout[data-callout="question"] .callout-icon {
		background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="lightblue" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-circle-question"><path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>');
	}
	.callout[data-callout="note"] .callout-icon {
		background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="lightblue" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-notepad-text"><path d="M8 2v4"/><path d="M12 2v4"/><path d="M16 2v4"/><rect width="16" height="18" x="4" y="4" rx="2"/><path d="M8 10h6"/><path d="M8 14h8"/><path d="M8 18h5"/></svg>');
	}
	.callout[data-callout="fail"] .callout-icon,
	.callout[data-callout="failure"] .callout-icon,
	.callout[data-callout="missing"] .callout-icon {
		background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="red" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-x"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>');
	}
	.callout[data-callout="hint"] .callout-icon {
		background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="yellow" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-lightbulb"><path d="M15 14c.2-1 .7-1.7 1.5-2.5 1-.9 1.5-2.2 1.5-3.5A6 6 0 0 0 6 8c0 1 .2 2.2 1.5 3.5.7.7 1.3 1.5 1.5 2.5"/><path d="M9 18h6"/><path d="M10 22h4"/></svg>');
	}
	.callout[data-callout="todo"] .callout-icon {
		background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="lightblue" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-check"><rect width="18" height="18" x="3" y="3" rx="2"/><path d="m9 12 2 2 4-4"/></svg>');
	}
	.callout[data-callout="faq"] .callout-icon {
		background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="lightblue" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-square-text"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/><path d="M13 8H7"/><path d="M17 12H7"/></svg>');
	}
	.callout[data-callout="quote"] .callout-icon {
		background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="lightblue" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-quote"><path d="M16 3a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2 1 1 0 0 1 1 1v1a2 2 0 0 1-2 2 1 1 0 0 0-1 1v2a1 1 0 0 0 1 1 6 6 0 0 0 6-6V5a2 2 0 0 0-2-2z"/><path d="M5 3a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2 1 1 0 0 1 1 1v1a2 2 0 0 1-2 2 1 1 0 0 0-1 1v2a1 1 0 0 0 1 1 6 6 0 0 0 6-6V5a2 2 0 0 0-2-2z"/></svg>');
	}
	.callout[data-callout="help"] .callout-icon {
		background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="white" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-life-buoy"><circle cx="12" cy="12" r="10"/><path d="m4.93 4.93 4.24 4.24"/><path d="m14.83 9.17 4.24-4.24"/><path d="m14.83 14.83 4.24 4.24"/><path d="m9.17 14.83-4.24 4.24"/><circle cx="12" cy="12" r="4"/></svg>');
	}
	.callout[data-callout="tldr"] .callout-icon,
	.callout[data-callout="summary"] .callout-icon {
		background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="orange" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clipboard-list"><rect width="8" height="4" x="8" y="2" rx="1" ry="1"/><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"/><path d="M12 11h4"/><path d="M12 16h4"/><path d="M8 11h.01"/><path d="M8 16h.01"/></svg>');
	}
	.callout[data-callout="info"] .callout-icon {
		background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="orange" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-book-text"><path d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H19a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H6.5a1 1 0 0 1 0-5H20"/><path d="M8 11h8"/><path d="M8 7h6"/></svg>');
	}
	.callout[data-callout="success"] .callout-icon,
	.callout[data-callout="check"] .callout-icon,
	.callout[data-callout="done"] .callout-icon {
		background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="chartreuse" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-big"><path d="M21.801 10A10 10 0 1 1 17 3.335"/><path d="m9 11 3 3L22 4"/></svg>');
	}
	.callout[data-callout="important"] .callout-icon {
		background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="red" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-flame"><path d="M8.5 14.5A2.5 2.5 0 0 0 11 12c0-1.38-.5-2-1-3-1.072-2.143-.224-4.054 2-6 .5 2.5 2 4.9 4 6.5 2 1.6 3 3.5 3 5.5a7 7 0 1 1-14 0c0-1.153.433-2.294 1-3a2.5 2.5 0 0 0 2.5 2.5z"/></svg>');
	}
	.callout[data-callout="tip"] .callout-icon {
		background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="chartreuse" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-flame"><path d="M8.5 14.5A2.5 2.5 0 0 0 11 12c0-1.38-.5-2-1-3-1.072-2.143-.224-4.054 2-6 .5 2.5 2 4.9 4 6.5 2 1.6 3 3.5 3 5.5a7 7 0 1 1-14 0c0-1.153.433-2.294 1-3a2.5 2.5 0 0 0 2.5 2.5z"/></svg>');
	}
	.callout[data-callout="danger"] .callout-icon {
		background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="red" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-zap"><path d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z"/></svg>');
	}
	.callout[data-callout="bug"] .callout-icon {
		background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="red" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bug"><path d="m8 2 1.88 1.88"/><path d="M14.12 3.88 16 2"/><path d="M9 7.13v-1a3.003 3.003 0 1 1 6 0v1"/><path d="M12 20c-3.3 0-6-2.7-6-6v-3a4 4 0 0 1 4-4h4a4 4 0 0 1 4 4v3c0 3.3-2.7 6-6 6"/><path d="M12 20v-9"/><path d="M6.53 9C4.6 8.8 3 7.1 3 5"/><path d="M6 13H2"/><path d="M3 21c0-2.1 1.7-3.9 3.8-4"/><path d="M20.97 5c0 2.1-1.6 3.8-3.5 4"/><path d="M22 13h-4"/><path d="M17.2 17c2.1.1 3.8 1.9 3.8 4"/></svg>');
	}
	.callout[data-callout="default"],
	.callout[data-callout="info"],
	.callout[data-callout="tip"],
	.callout[data-callout="bug"],
	.callout[data-callout="danger"],
	.callout[data-callout="abstract"],
	.callout[data-callout="important"],
	.callout[data-callout="success"],
	.callout[data-callout="check"],
	.callout[data-callout="done"],
	.callout[data-callout="summary"],
	.callout[data-callout="tldr"],
	.callout[data-callout="help"],
	.callout[data-callout="quote"],
	.callout[data-callout="faq"],
	.callout[data-callout="caution"],
	.callout[data-callout="todo"],
	.callout[data-callout="hint"],
	.callout[data-callout="attention"],
	.callout[data-callout="fail"],
	.callout[data-callout="warning"],
	.callout[data-callout="error"],
	.callout[data-callout="failure"],
	.callout[data-callout="missing"],
	.callout[data-callout="example"],
	.callout[data-callout="question"],
	.callout[data-callout="note"] {
		.callout-icon {
			display: inline-flex;
			width: 20px;
			height: 20px;
			background-repeat: none;
			stroke: #151515;
			svg {
				display: none !important;
			}
		}
	}
}

/* emphasis */
em,
.cm-em,
em,
.markdown-preview-section em {
	color: #77f99b;
	font-style: italic;
}

strong,
.cm-strong,
strong,
.markdown-preview-section strong {
	color: #77f99b;
	font-style: normal;
	font-weight: bold;
}

/* misc ui */
.tag {
	box-sizing: border-box;
	border-bottom: 4px solid #151515 !important;
}

/* headers */
h1,
.cm-header-1,
h1,
h2,
.cm-header-2,
h2,
h3,
.cm-header-3,
h3,
h4,
.cm-header-4,
h4,
h5,
.cm-header-5,
h5,
h6,
.cm-header-6,
h6 {
	color: #87ff5f !important;
	margin: 0.5em 0 0 0 !important;
	padding: 0;
}

/* strikethrough and desat */
ul > li.task-list-item.is-checked {
	text-decoration: none;
	color: #a1a0ad;
}

.task-list-item.is-checked .task-list-item:not(.is-checked) {
	text-decoration: line-through;
}

input[type="checkbox"] {
	box-sizing: border-box;
	-webkit-appearance: none;
	border-radius: 0px;
	appearance: none;
	background: #201430;
	color: #875faf;
	border: 0.15em solid #875faf !important;
	border-radius: 0.15em;
	transform: translateY(-0.075em);
}

input[type="checkbox"]::after {
	margin-left: -0.2em;
	margin-top: 0.2em;
	transform: scale(0);
	transform-origin: bottom left;
	transition: 200ms transform ease-in-out;
	box-shadow: inset 1em 1em #87ff5f;
}

input[type="checkbox"]:checked::after {
	transform: scale(1.4);
}

input[type="checkbox"]:checked,
input[type="checkbox"]:checked:after {
	background-color: #201430 !important;
}
.collapse-indicator {
	opacity: 0.1;
}

.collapse-indicator:hover {
	opacity: 1;
}

/* {un,}ordered lists */
/* hide old markers */
:is(.cm-formatting-list-ul, .markdown-rendered ul > li) > .list-bullet::after {
	border: none;
	content: none;
	outline: none;
}

.HyperMD-list-line.HyperMD-list-line-1.cm-line {
	margin-left: -0.4em;
}

ul,
.cm-formatting-list-ul,
.markdown-rendered ul {
	margin: 0;
	padding: 0 0 0.4em 0;

	ul,
	.cm-formatting-list-ul,
	.markdown-rendered ul {
		padding: 0 0 0 1em;

		&::before {
			background: #101010;
		}
	}
}

ul.has-list-bullet li {
	margin-left: 24px;
	padding-top: 0.175em;
}

.list-bullet::before,
ul:not(li > *) > li > .list-bullet::before,
ul:not(li > *) > li > ul > li > .list-bullet::before,
ul:not(li > *) > li > ul > li > ul > li > .list-bullet::before,
ol li ul li .list-bullet::before {
	content: "◈";
	color: #ce67f0;
	margin-left: -0.45em;
	padding-top: 0.05em;
}

.HyperMD-list-line-1,
.HyperMD-list-line-2,
.HyperMD-list-line-3,
.HyperMD-list-line-4,
.HyperMD-list-line-5,
.HyperMD-list-line-6,
.HyperMD-list-line-7,
.HyperMD-list-line-8 {
	margin: 0;
	padding: 0;

	.list-bullet::before {
		content: "◈";
		color: #ce67f0;
		margin-left: -0.1em;
		padding-right: 0;
	}
}

ol {
	position: relative;
}

ol::before {
	content: "";
	border-left: 2px solid;
	border-image: linear-gradient(
		to bottom,
		#87ff5f,
		#875faf,
		rgba(20, 14, 30, 0.1)
	);
	border-image-slice: 1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -9px;
}

ol li::marker {
	color: #ce67f0;
	font-weight: bold;
}

/* horizontal rule */
hr,
cm-hr,
.cm-formatting-hr,
.cm-s-obsidian-hr,
.markdown-rendered hr,
hr {
	border: none;
	border-top: 2px solid;
	border-image: linear-gradient(
		to right,
		#87ff5f,
		#875faf,
		rgba(20, 14, 30, 0.1)
	);
	border-image-slice: 1;
	margin-bottom: 2em;
	margin-top: 2em;
	padding: 0px;
}

hr.workspace-leaf-resize-handle {
	border: #483160;
	margin-bottom: 0px;
}

.cm-s-obsidian span.cm-builtin,
.cm-s-obsidian span.cm-hr {
	color: #87ff5f;
	margin-bottom: 2em;
	margin-top: 2eml;
	padding: 0px;
}

/* data view */
:not(.table-100):not(.table-max):not(.table-wide)
	.is-readable-line-width:not(.table-100):not(.table-max):not(.table-wide)
	.block-language-dataview
	h4,
:not(.table-100):not(.table-max):not(.table-wide)
	.is-readable-line-width:not(.table-100):not(.table-max):not(.table-wide)
	.block-language-dataview
	> h4,
:not(.table-100):not(.table-max):not(.table-wide)
	.is-readable-line-width:not(.table-100):not(.table-max):not(.table-wide)
	.block-language-dataviewjs
	h4,
:not(.table-100):not(.table-max):not(.table-wide)
	.is-readable-line-width:not(.table-100):not(.table-max):not(.table-wide)
	.block-language-dataviewjs
	> h1,
:not(.table-100):not(.table-max):not(.table-wide)
	.is-readable-line-width:not(.table-100):not(.table-max):not(.table-wide)
	.block-language-dataviewjs
	> h2,
:not(.table-100):not(.table-max):not(.table-wide)
	.is-readable-line-width:not(.table-100):not(.table-max):not(.table-wide)
	.block-language-dataviewjs
	> h3,
:not(.table-100):not(.table-max):not(.table-wide)
	.is-readable-line-width:not(.table-100):not(.table-max):not(.table-wide)
	.block-language-dataviewjs
	> h4,
:not(.table-100):not(.table-max):not(.table-wide)
	.is-readable-line-width:not(.table-100):not(.table-max):not(.table-wide)
	.block-language-dataviewjs
	> p,
:not(.table-100):not(.table-max):not(.table-wide)
	.is-readable-line-width:not(.table-100):not(.table-max):not(.table-wide)
	.dataview.dataview-container
	> .contains-task-list,
:not(.table-100):not(.table-max):not(.table-wide)
	.is-readable-line-width:not(.table-100):not(.table-max):not(.table-wide)
	.dataview.dataview-error,
:not(.table-100):not(.table-max):not(.table-wide)
	.is-readable-line-width:not(.table-100):not(.table-max):not(.table-wide)
	.dataview.list-view-ul,
:not(.table-100):not(.table-max):not(.table-wide)
	.is-readable-line-width:not(.table-100):not(.table-max):not(.table-wide)
	.dataview.result-group {
	/* width fix */
	max-width: 100%;
}

.dataview .small-text {
	color: #222;
}

.dataview ol,
.dataview ul {
	list-style-type: none !important;
	padding: 0px !important;
}

.dataview tbody tr {
	border-bottom: 1px solid #39274c;
	--table-background: transparent;
	background: transparent !important;
}

.dataview tbody td {
	padding: 0.75em;
}

.dataview tbody .tag {
	clear: both;
	display: inline-block;
	box-sizing: border-box;
	margin-bottom: 0.1em;
	border-bottom: 4px solid #151515;
}

.dataview tbody a,
a:visited {
	color: #87ff5f !important;
}

/* tables */
.markdown-rendered {
	table {
		margin-top: 10px;
		clear: inline-start;

		tbody {
			height: fit-content;
		}
	}

	thead,
	.table-view-thead {
		background-color: #9f50e1 !important;
		font-weight: bold;
		border: none !important;
		th {
			color: #000 !important;
			border: none !important;

			strong,
			code {
				background: transparent !important;
				border-bottom: 0 !important;
				color: #000 !important;
			}
		}
	}

	tbody,
	.table-view-tbody {
		--table-background: #39274d;

		tr,
		td {
			--table-background: transparent;
			background: transparent !important;
		}

		tr {
			border-bottom: 1px solid #39274c;
		}

		td {
			border: none !important;
		}
	}
}

/* search highlights */
.is-flashing,
.is-flashing * {
	background-color: #87ff5f !important;
	color: #201430 !important;
}

.markdown-rendered .search-highlight > div {
	position: absolute;
	pointer-events: none;
	box-shadow: 0 0 0px 2px #87ff5f;
	opacity: 0.3;
	mix-blend-mode: var(--highlight-mix-blend-mode);
	z-index: 999;
}

.markdown-rendered .search-highlight > div.is-active {
	box-shadow: 0 0 0px 3px #87ff5f;
	opacity: 1;
	z-index: 999;
}

.cm-s-obsidian span.obsidian-search-match-highlight {
	box-shadow: 0 0 0px 3px #87ff5f;
	mix-blend-mode: var(--highlight-mix-blend-mode);
	z-index: 999;
}
.hide {
	display: none;
}
.poop {
	border: 10px solid #665a2c !important;
	background: #3c302c !important;
	background-color: #3c302c !important;
}
.shimmer {
	animation: fade 3s forwards;
	background-color: rgba(185, 104, 252, 1);
}

@keyframes fade {
	from {
		background-color: rgba(185, 104, 252, 1);
	}
	to {
		background-color: rgba(185, 104, 252, 0);
	}
}
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px !important;
	background-color: #664679 !important;
}

::-webkit-scrollbar-thumb:active {
	-webkit-border-radius: 0px !important;
	background-color: #664679 !important;
}
.refs {
	.cm-iconize-icon svg {
		width: 20px !important;
		height: 20px !important;
		margin: 0 2px;
	}
	strong {
		background: #5b2b41;
		font-weight: normal;
		font-size: 13pt;
		letter-spacing: -1px;
		padding: 2px;
		color: #000;
	}
}
/*
img alignment hax
![[image.png | center | 256]]
![Photo | floatleft | 256](image.png)
*/
.right,
img[alt*="right"] {
	display: block;
	margin-left: auto;
	margin-right: 0;
}

.center,
img[alt*="center"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.floatleft,
img[alt*="floatleft"] {
	float: left;
	clear: left;
}

.floatRight,
img[alt*="floatright"] {
	float: right;
	clear: right;
}
/* custom page header icons
 * <header>:XoManual:</header>
 */
header {
	float: right;
	clear: none;
	display: inline-flex;

	.cm-iconize-icon svg {
		width: 36px !important;
		height: 36px !important;
		margin: 7px 2px 0 0;
	}
}
a.anchor {
	display: block !important;
	position: relative !important;
	top: -125px !important;
	visibility: hidden;
}
/* site header */
nav {
	background: var(--background-secondary-alt);
	border-bottom: 4px solid #151515;
	box-sizing: border-box;
	display: block;
	height: auto;
	min-height: 52px;
	max-height: 600px;
	overflow-y: scroll;
	margin-bottom: 1em;
	margin-top: 1em;
	opacity: 100%;
	padding: 10px;
	position: sticky;
	top: 0;
	transition: all 0.3s ease-in-out;
	z-index: 999;

	#logo {
		margin-top: -5px !important;
	}

	a,
	a:visited {
		text-decoration: none;
	}

	h2 {
		margin-top: 0 !important;
		font-size: 18pt;

		a {
			margin-top: 0 !important;
			font-weight: bold;
			font-size: 18pt;
		}
	}
	h3 {
		margin-top: 0 !important;
		font-weight: normal;
		font-size: 16pt;
	}
	#navtitle {
		float: left;
		display: inline;
		padding-right: 20px;

		svg {
			width: 40px;
			height: 40px;
			float: left;
			margin-right: 10px;
		}
	}
	#navmenu {
		#toc {
			display: block;
			float: right;
			width: 40%;

			#tocicon {
				display: inline;
				float: left;
				background-position: center right;
				background-repeat: no-repeat;
				background-size: 30px;
				cursor: var(--cursor-link);
				filter: var(--link-external-filter);
				transition: opacity 0.15s ease-in-out;
				width: 30px;
				height: 30px;
				background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="orange" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevrons-up-down"><path d="m7 15 5 5 5-5"/><path d="m7 9 5-5 5 5"/></svg>');
			}

			.folded {
				background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="orange" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevrons-down-up"><path d="m7 20 5-5 5 5"/><path d="m7 4 5 5 5-5"/></svg>') !important;
			}
		}

		#thetop {
			display: inline;
			float: right;
			background-position: center right;
			background-repeat: no-repeat;
			background-size: 30px;
			cursor: var(--cursor-link);
			filter: var(--link-external-filter);
			width: 30px;
			height: 30px;
			background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="orange" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-big-up-dash"><path d="M9 19h6"/><path d="M9 15v-3H5l7-7 7 7h-4v3H9z"/></svg>');
			/* <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="orange" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-wide-narrow"><path d="m3 8 4-4 4 4"/><path d="M7 4v16"/><path d="M11 12h10"/><path d="M11 16h7"/><path d="M11 20h4"/></svg> */
		}
	}

	#toclist {
		display: none;
		clear: both;
		margin-top: 10px;
		transform: scale(0);
		opacity: 0;
		transition:
			transform 0.3s ease-in-out,
			opacity 0.3s ease-in-out;

		&.active {
			display: block;
			transform: scale(1);
			opacity: 1;
			animation: open 0.3s ease-in-out;
		}
	}

	@keyframes open {
		0% {
			display: none;
			opacity: 0;
		}
		1% {
			display: block;
			opacity: 0;
			transform: scale(0);
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}

	ul {
		border-left: 2px solid;
		background: var(--code-background);
		border-image: linear-gradient(
			to bottom,
			#87ff5f 0,
			#875faf 50%,
			rgba(20, 14, 30, 0) 99%
		);
		border-image-slice: 1;
		margin: 5px 0 0 8px;
		padding-left: 8px;
	}

	li {
		line-height: 1em;
		a, a:visited {
			text-decoration: none;
			color: #a4d2ec !important
		}
		&.tab2 {
			margin-left: 6ch;
		}
		&.tab3 {
			margin-left: 9ch;
		}
		&.tab4 {
			margin-left: 12ch;
		}
		&.tab5 {
			margin-left: 15ch;
		}
		&.tab6 {
			margin-left: 18ch;
		}
	}
}
footer {
	width: 764px !important;
	margin: 50px auto 0 auto !important;
	background: var(--background-secondary);
	padding: 10px;
	margin-top: 20px;
	box-sizing: border-box;
	border-top: 4px solid #151515 !important;
	font-size: var(--font-ui-large);

	#cc {
		position: absolute;
		margin-top: 6px;
	}
	#year {
		margin-left: 24px;
	}
	#md2html {
		position: absolute;
		margin-top: -2px;
		margin-left: 8px;
	}
	.floatRight {
		color: #77f99b;
		padding-right: 40px;

		a,
		a:visited {
			color: var(--link-color) !important;
		}
	}
}

/* mobile layout hax */
@media only screen and (max-width: 768px) {
	body {
		padding: 0 !important;

		.markdown-reading-view,
		.markdown-preview-view,
		.markdown-preview-sizer,
		.markdown-preview-sizer.markdown-preview-section {
			all: unset;
			width: 98% !important;
			max-width: 98% !important;
			min-width: 98% !important;
			margin: 0 auto;
		}
		.ghost {
			display: none;
		}
		footer {
			width: 98% !important;
		}
		* {
			font-size: 14pt !important;
			font-size: var(--font-ui-mobile);
		}
		p {
			margin: 10px 0px;
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 125% !important;
		}
		ol li::marker {
			font-size: 14pt !important;
			font-weight: normal;
		}
		ul {
			list-style: none !important;

			.list-bullet {
				padding: 0 10px !important;
			}
		}
		.task-list-item-checkbox {
			top: 0em !important;
		}
		.task-list-item-checkbox {
			transform: scale(1.25);
			margin-right: 15px;
		}
		input[type="checkbox"] {
			margin-top: -10px !important;
		}
		input[type="checkbox"]::after {
			margin-top: 0px !important;
		}
		ul > li.task-list-item,
		ul > li.task-list-item.is-checked,
		.task-list-item,
		.task-list-item:not(.is-checked),
		.task-list-item .task-list-item:not(.is-checked),
		.task-list-item.is-checked .task-list-item:not(.is-checked) {
			font-size: 14pt !important;
			font-size: var(--font-ui-mobile);
		}
		.callout {
			a,
			a:visited,
			.cm-url,
			.internal-link,
			.external-link {
				text-decoration-thickness: 2px !important;
				text-underline-offset: 2px !important;
			}
			.callout-title {
				width: 100%;
				font-size: 14pt !important;
				font-size: var(--font-ui-mobile);

				.callout-title-inner {
					width: 100% !important;
					font-size: 14pt !important;
					font-size: var(--font-ui-mobile);
				}
				.callout-icon {
					padding: 0 15px 0 0 !important;

					svg {
						transform: scale(2);
					}
				}
			}
			.callout-content,
			.callout-content p,
			.callout-content p strong {
				font-size: 13pt !important;
				font-size: var(--font-ui-small);
			}
			code {
				border-bottom: 0px !important;
				font-weight: bold !important;
				padding: 2px;
				font-size: var(--font-ui-smaller);
				font-size: 12pt !important;
			}
		}
		code {
			font-size: var(--font-ui-smaller);
			font-weight: strong !important;
			font-size: 12pt !important;
			padding: 2px;
			box-sizing: border-box;
			border-bottom: 4px solid #151515 !important;
			display: inline-flex;
			max-width: 96%;
			word-break: break-all;
			white-space: normal !important;
		}
		.ascii code,
		.topaz code {
			overflow: visible !important;
			word-break: none !important;
			white-space: pre !important;
		}
		pre code,
		code code {
			padding: 0 !important;
			margin: 0 !important;
		}
		.el-pre pre {
			line-height: 1.25em !important;
			code {
				font-size: 11pt !important;
				font-size: var(--font-code-mobile);
			}
		}
		.expressive-code {
			pre code {
				padding: 15px 0px 15px 0px !important;
				margin: 0 !important;
			}
			code {
				box-sizing: content-box !important;
				border-bottom: 0 !important;
			}
			.ec-line,
			* {
				line-height: var(--line-height-tight) !important;
				font-size: 11pt !important;
				font-size: var(--font-code-mobile);
			}
			.ec-line {
				padding-left: 0 !important;
			}
			.frame.has-title .title {
				font-size: 12pt !important;
				font-size: var(--font-ui-smaller);
			}
			.gutter .ln {
				line-height: var(--line-height-tight) !important;
				font-size: 11pt !important;
				font-size: var(--font-code-mobile);
				padding: 0 10px 0 0;
			}
			.copy button {
				transform: scale(0.5) !important;
				margin-bottom: -20px !important;
				margin-right: -18px !important;
			}
		}
	}
	nav {
		#toc {
			width: 60% !important;
		}
		#navtitle {
			padding-right: 0px;
		}
	}
}
