:root {
	--font-default: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Inter", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
	--font-monospace-default: ui-monospace, SFMono-Regular, "Cascadia Mono", "Roboto Mono", "DejaVu Sans Mono", "Liberation Mono", Menlo, Monaco, "Consolas", "Source Code Pro", monospace;
	--blockquote-style: var(--font-monospace-default);
	--font-interface-override: '??';
	--font-interface-theme: '??';
	--font-interface: var(--font-interface-override), var(--font-interface-theme), var(--default-font, '??'), var(--font-default);
	--font-text-override: '??';
	--font-text-theme: '??';
	--font-text: var(--font-text-override), var(--font-text-theme), var(--font-default);
	--font-print-override: '??';
	--font-print: var(--font-print-override), var(--font-text-override), var(--font-text-theme), 'Arial';
	--font-monospace-override: '??';
	--font-monospace-theme: '??';
	--font-monospace: var(--font-monospace-override), var(--font-monospace-theme), var(--font-monospace-default);
	--font-text-size: 16px;
	--font-mermaid: var(--font-text);
	--direction: 1;
	--findbar-height: 10em;
	--font-weight: normal;
	--frame-left-space: 0px;
	--frame-right-space: 0px;
	--list-marker-space: 0;
	--mobile-sidebar-max-width: 500px;
	--mobile-sidebar-min-width: 320px;
	--mobile-sidebar-width-pinned: 320px;
	--mobile-sidebar-width: 88vw;
	--mobile-toolbar-height: 40px;
	--modal-header-height: 44px;
	--pdf-popup-width: 280px;
	--pill-focus-left-adjust: -4px;
	--pill-focus-width: calc(100% + 6px);
	--resizer-size: 20px;
	--scale-factor: 1;
	--shadow-drag: 0px 2px 10px rgba(0, 0, 0, 0.1);
	--shadow-stationary: 0px 0.5px 1px 0.5px rgba(0, 0, 0, 0.1);
	--sidebar-width: 140px;
	--thumbnail-height: 0;
	--thumbnail-width: 0;
	--titlebar-height: 30px;
	--toggled-btn-bg-color: #875faf;
	--toggled-btn-color: #87ffaf;
	--button-hover-color: var(--toggled-btn-color);
	--toolbar-option-width: 50px;
	--viewport-height: 100vh;
	--zoom-factor: 1;
	--zoom-multiplier: 1;
/* obsidian base vars */
	--accent-h: 258;
	--accent-l: 66%;
	--accent-s: 88%;
	--anim-duration-fast: 140ms;
	--anim-duration-moderate: 300ms;
	--anim-duration-none: 0;
	--anim-duration-slow: 560ms;
	--anim-duration-superfast: 70ms;
	--anim-motion-delay: cubic-bezier(0.65, 0.05, 0.36, 1);
	--anim-motion-jumpy: cubic-bezier(0.68, -0.55, 0.27, 1.55);
	--anim-motion-smooth: cubic-bezier(0.45, 0.05, 0.55, 0.95);
	--anim-motion-swing: cubic-bezier(0, 0.55, 0.45, 1);
	--background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
	--background-modifier-cover: rgba(10, 10, 10, 0.4);
	--background-modifier-message: rgba(0, 0, 0, 0.9);
	--blockquote-background-color: transparent;
	--blockquote-border-thickness: 2px;
	--blockquote-color: inherit;
	--blockquote-font-style: normal;
	--bold-color: inherit;
	--bold-modifier: 200;
	--border-width: 1px;
	--callout-border-opacity: 0.25;
	--callout-border-width: 0px;
	--callout-content-background: transparent;
	--callout-content-padding: 0;
	--callout-quote: 158, 158, 158;
	--callout-title-color: inherit;
	--callout-title-padding: 0;
	--callout-title-size: inherit;
	--checkbox-margin-inline-start: 0.85em;
	--checklist-done-decoration: line-through;
	--code-white-space: pre-wrap;
	--color-base-00: #1e1e1e;
	--color-base-05: #212121;
	--color-base-100: #dadada;
	--color-base-10: #242424;
	--color-base-20: #262626;
	--color-base-25: #2a2a2a;
	--color-base-30: #363636;
	--color-base-35: #3f3f3f;
	--color-base-40: #555555;
	--color-base-50: #666666;
	--color-base-60: #999999;
	--color-base-70: #b3b3b3;
	--color-blue-rgb: 2, 122, 255;
	--color-blue: #027aff;
	--color-cyan-rgb: 83, 223, 221;
	--color-cyan: #53dfdd;
	--color-green-rgb: 68, 207, 110;
	--color-green: #44cf6e;
	--color-orange-rgb: 233, 151, 63;
	--color-orange: #e9973f;
	--color-pink-rgb: 250, 153, 205;
	--color-pink: #fa99cd;
	--color-purple-rgb: 168, 130, 255;
	--color-purple: #a882ff;
	--color-red-rgb: 251, 70, 76;
	--color-red: #fb464c;
	--color-yellow-rgb: 224, 222, 113;
	--color-yellow: #e0de71;
	--cursor-link: pointer;
	--cursor: default;
	--dialog-max-height: 85vh;
	--dialog-max-width: 80vw;
	--dialog-width: 560px;
	--divider-width-hover: 3px;
	--divider-width: 1px;
	--drag-ghost-background: rgba(0, 0, 0, 0.85);
	--drag-ghost-text-color: #fff;
	--dropdown-background-blend-mode: hard-light;
	--dropdown-background-position: right 0.5em top 50%, 0 0;
	--dropdown-background-size: 1em auto, 100%;
	--dropdown-padding: 0 1.9em 0 0.8em;
	--embed-background: inherit;
	--embed-border-bottom: none;
	--embed-border-end: none;
	--embed-border-top: none;
	--embed-canvas-max-height: 400px;
	--embed-font-style: inherit;
	--embed-max-height: 4000px;
	--file-folding-offset: 24px;
	--file-header-font-weight: 400;
	--file-header-justify: center;
	--file-line-width: 700px;
	--font-black: 900;
	--font-bold: 700;
	--font-extrabold: 800;
	--font-extralight: 200;
	--font-light: 300;
	--font-medium: 500;
	--font-normal: 400;
	--font-semibold: 600;
	--font-small: 0.933em;
	--font-smaller: 0.875em;
	--font-smallest: 0.8em;
	--font-thin: 100;
	--font-ui-large: 20px;
	--font-ui-medium: 15px;
	--font-ui-small: 13px;
	--font-ui-smaller: 12px;
	--graph-controls-width: 240px;
	--h1-color: inherit;
	--h1-font: inherit;
	--h1-line-height: 1.2;
	--h1-size: 1.802em;
	--h1-style: normal;
	--h1-variant: normal;
	--h1-weight: 700;
	--h2-color: inherit;
	--h2-font: inherit;
	--h2-line-height: 1.2;
	--h2-size: 1.602em;
	--h2-style: normal;
	--h2-variant: normal;
	--h2-weight: 600;
	--h3-color: inherit;
	--h3-font: inherit;
	--h3-line-height: 1.3;
	--h3-size: 1.424em;
	--h3-style: normal;
	--h3-variant: normal;
	--h3-weight: 600;
	--h4-color: inherit;
	--h4-font: inherit;
	--h4-line-height: 1.4;
	--h4-size: 1.266em;
	--h4-style: normal;
	--h4-variant: normal;
	--h4-weight: 600;
	--h5-color: inherit;
	--h5-font: inherit;
	--h5-size: 1.125em;
	--h5-style: normal;
	--h5-variant: normal;
	--h5-weight: 600;
	--h6-color: inherit;
	--h6-font: inherit;
	--h6-size: 1em;
	--h6-style: normal;
	--h6-variant: normal;
	--h6-weight: 600;
	--header-height: 40px;
	--highlight-mix-blend-mode: lighten;
	--hr-thickness: 2px;
	--icon-l-stroke-width: 1.75px;
	--icon-l: 18px;
	--icon-m-stroke-width: 1.75px;
	--icon-m: 18px;
	--icon-opacity-active: 1;
	--icon-opacity-hover: 1;
	--icon-opacity: 0.85;
	--icon-s-stroke-width: 2px;
	--icon-s: 16px;
	--icon-xl-stroke-width: 1.25px;
	--icon-xl: 32px;
	--icon-xs-stroke-width: 2px;
	--icon-xs: 14px;
	--indentation-guide-editing-indent: 0.85em;
	--indentation-guide-reading-indent: -0.85em;
	--indentation-guide-source-indent: 0.25em;
	--indentation-guide-width-active: 1px;
	--indentation-guide-width: 1px;
	--inline-title-margin-bottom: 0.5em;
	--input-border-width: 1px;
	--input-height: 30px;
	--input-radius: 5px;
	--input-shadow-hover: inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),0 2px 3px 0 rgba(0, 0, 0, .3),0 1px 1.5px 0 rgba(0, 0, 0, .2),0 1px 2px 0 rgba(0, 0, 0, .4),0 0 0 0 transparent;
	--input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),0 2px 4px 0 rgba(0, 0, 0, .15),0 1px 1.5px 0 rgba(0, 0, 0, .1),0 1px 2px 0 rgba(0, 0, 0, .2),0 0 0 0 transparent;
	--italic-color: inherit;
	--italic-weight: inherit;
	--layer-cover: 5;
	--layer-dragged-item: 80;
	--layer-menu: 65;
	--layer-modal: 50;
	--layer-notice: 60;
	--layer-popover: 30;
	--layer-sidedock: 10;
	--layer-slides: 45;
	--layer-status-bar: 15;
	--layer-tooltip: 70;
	--line-height-normal: 1.5;
	--line-height-tight: 1.3;
	--line-height: var(--line-height-normal);
	--link-decoration-hover: underline;
	--link-decoration-thickness: auto;
	--link-decoration: underline;
	--link-external-decoration-hover: underline;
	--link-external-decoration: underline;
	--link-external-filter: none;
	--link-unresolved-decoration-style: solid;
	--link-unresolved-filter: none;
	--link-unresolved-opacity: 0.7;
	--list-bullet-border: none;
	--list-bullet-end-padding: 1.3rem;
	--list-bullet-radius: 50%;
	--list-bullet-size: 0.3em;
	--list-bullet-transform: none;
	--list-indent-editing: 0.75em;
	--list-indent-source: 0;
	--list-indent: 2.25em;
	--list-numbered-style: decimal;
	--list-spacing: 0.075em;
	--metadata-background: transparent;
	--metadata-border-radius: 0;
	--metadata-border-width: 0;
	--metadata-display-editing: block;
	--metadata-display-reading: block;
	--metadata-divider-color-focus: transparent;
	--metadata-divider-color-hover: transparent;
	--metadata-divider-width: 0;
	--metadata-gap: 3px;
	--metadata-input-background-hover: transparent;
	--metadata-input-background: transparent;
	--metadata-label-background: transparent;
	--metadata-label-background-hover: transparent;
	--metadata-label-font-weight: inherit;
	--metadata-label-width: 9em;
	--metadata-max-width: none;
	--metadata-property-background-hover: transparent;
	--metadata-property-background: transparent;
	--metadata-property-padding: 0;
	--metadata-property-radius-focus: 6px;
	--metadata-property-radius-hover: 6px;
	--metadata-property-radius: 6px;
	--modal-community-sidebar-width: 280px;
	--modal-height: 85vh;
	--modal-max-height: 1000px;
	--modal-max-width-narrow: 800px;
	--modal-max-width: 1100px;
	--modal-width: 90vw;
	--mono-rgb-0: 0, 0, 0;
	--mono-rgb-100: 255, 255, 255;
	--nav-item-weight-active: inherit;
	--nav-item-weight-hover: inherit;
	--nav-item-weight: inherit;
	--nav-item-white-space: pre;
	--p-spacing-empty: 0rem;
	--p-spacing: 1rem;
	--pdf-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 8px rgba(0, 0, 0, 0.1);
	--pdf-spread-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
	--pdf-thumbnail-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 8px rgba(0, 0, 0, 0.2);
	--pill-background-hover: transparent;
	--pill-background: transparent;
	--pill-decoration-hover: none;
	--pill-decoration: none;
	--pill-padding-x: 0.65em;
	--pill-padding-y: 0.25em;
	--pill-radius: 2em;
	--pill-weight: inherit;
	--popover-height: 400px;
	--popover-max-height: 95vh;
	--popover-pdf-height: 400px;
	--popover-pdf-width: 450px;
	--popover-width: 450px;
	--prompt-input-height: 40px;
	--prompt-max-height: 70vh;
	--prompt-max-width: 80vw;
	--prompt-width: 700px;
	--radius-l: 12px;
	--radius-m: 8px;
	--radius-s: 4px;
	--radius-xl: 16px;
	--ribbon-width: 44px;
	--search-clear-button-size: 13px;
	--search-icon-size: 18px;
	--shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071),0px 6.3px 24.7px rgba(0, 0, 0, 0.112),0px 30px 90px rgba(0, 0, 0, 0.2);
	--shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.121),0px 3.4px 6.7px rgba(0, 0, 0, 0.179),0px 15px 30px rgba(0, 0, 0, 0.3);
	--sidebar-tab-text-display: none;
	--size-2-1: 2px;
	--size-2-2: 4px;
	--size-2-3: 6px;
	--size-4-10: 40px;
	--size-4-12: 48px;
	--size-4-16: 64px;
	--size-4-18: 72px;
	--size-4-1: 4px;
	--size-4-2: 8px;
	--size-4-3: 12px;
	--size-4-4: 16px;
	--size-4-5: 20px;
	--size-4-6: 24px;
	--size-4-8: 32px;
	--size-4-9: 36px;
	--slider-s-thumb-position: -5px;
	--slider-s-thumb-size: 15px;
	--slider-thumb-border-width: 1px;
	--slider-thumb-height: 18px;
	--slider-thumb-radius: 50%;
	--slider-thumb-width: 18px;
	--slider-thumb-y: -6px;
	--slider-track-height: 3px;
	--status-bar-border-width: 1px 0 0 1px;
	--status-bar-position: fixed;
	--swatch-height: 24px;
	--swatch-radius: 14px;
	--swatch-width: 24px;
	--sync-avatar-color-current-user: transparent;
	--tab-curve: 6px;
	--tab-font-weight: inherit;
	--tab-max-width: 320px;
	--tab-outline-width: 1px;
	--tab-radius-active: 6px 6px 0 0;
	--tab-stacked-font-weight: 400;
	--tab-stacked-pane-width: 700px;
	--tab-stacked-shadow: -8px 0 8px 0 rgba(0, 0, 0, 0.05);
	--tab-stacked-text-align: start;
	--tab-stacked-text-transform: rotate(0deg);
	--tab-stacked-text-writing-mode: vertical-lr;
	--tab-switcher-preview-background-shadow: 0 4px 30px 2px rgba(0, 0, 0, 0.2);
	--tab-width: 200px;
	--table-add-button-background: transparent;
	--table-background: transparent;
	--table-border-width: 1px;
	--table-cell-vertical-alignment: top;
	--table-column-max-width: none;
	--table-column-min-width: 6ch;
	--table-drag-handle-background: transparent;
	--table-header-background-hover: inherit;
	--table-header-font: inherit;
	--table-selection-border-radius: 4px;
	--table-selection-border-width: 2px;
	--table-text-color: inherit;
	--table-white-space: break-spaces;
	--tag-border-width: 0px;
	--tag-decoration-hover: none;
	--tag-decoration: none;
	--tag-padding-x: 0.65em;
	--tag-padding-y: 0.25em;
	--tag-radius: 2em;
	--tag-weight: inherit;
	--text-highlight-bg-rgb: 255, 208, 0;
	--text-on-accent-inverted: black;
	--text-on-accent: white;
	--titlebar-border-width: 0px;
	--toggle-border-width: 2px;
	--toggle-radius: 18px;
	--toggle-s-border-width: 2px;
	--toggle-s-thumb-height: 15px;
	--toggle-s-thumb-width: 15px;
	--toggle-s-width: 34px;
	--toggle-thumb-color: white;
	--toggle-thumb-height: 18px;
	--toggle-thumb-radius: 18px;
	--toggle-thumb-width: 18px;
	--toggle-width: 40px;
	--vault-profile-actions-display: flex;
	--vault-profile-display: flex;
/* obsidian stacked vars */
	--color-accent-1: hsl(calc(var(--accent-h) - 3), calc(var(--accent-s) * 1.02), calc(var(--accent-l) * 1.15));
	--color-accent-2: hsl(calc(var(--accent-h) - 5), calc(var(--accent-s) * 1.05), calc(var(--accent-l) * 1.29));
	--color-accent-hsl: var(--accent-h),var(--accent-s),var(--accent-l);
	--color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
	--shadow-border-accent: 0 0 0 2px var(--color-accent);
	--mobile-sidebar-radius: var(--radius-xl);
	--list-padding-inline-start: var(--list-indent-source);
	--text-error: var(--color-red);
	--text-faint: var(--color-base-50);
	--text-muted: var(--color-base-70);
	--text-normal: var(--color-base-100);
	--text-color: var(--text-normal);
	--text-success: var(--color-green);
	--text-warning: var(--color-orange);
	--interactive-accent-hsl: var(--color-accent-hsl);
	--text-highlight-bg: rgba(var(--text-highlight-bg-rgb), 0.4);
	--text-selection: hsla(var(--color-accent-hsl), 0.2);
	--text-selection: hsla(var(--interactive-accent-hsl), 0.25);
	--text-accent-hover: var(--color-accent-2);
	--text-accent: var(--color-accent);
	--text-accent: var(--color-accent-1);
	--interactive-accent-hover: var(--color-accent-1);
	--interactive-accent-hover: var(--color-accent-2);
	--interactive-accent: var(--color-accent);
	--interactive-accent: var(--color-accent-1);
	--interactive-hover: var(--color-base-10);
	--interactive-hover: var(--color-base-35);
	--interactive-normal: var(--color-base-00);
	--interactive-normal: var(--color-base-30);
	--background-modifier-active-hover: hsla(var(--interactive-accent-hsl), 0.15);
	--background-modifier-border-focus: var(--color-base-40);
	--background-modifier-border-hover: var(--color-base-35);
	--background-modifier-border: var(--color-base-30);
	--background-modifier-error-hover: var(--color-red);
	--background-modifier-error-rgb: var(--color-red-rgb);
	--background-modifier-error: var(--color-red);
	--background-modifier-form-field: var(--color-base-00);
	--background-modifier-form-field: var(--color-base-25);
	--background-modifier-hover: rgba(var(--mono-rgb-100), 0.075);
	--background-modifier-success-rgb: var(--color-green-rgb);
	--background-modifier-success: var(--color-green);
	--background-modifier-info: var(--color-blue-rgb);
	--background-primary-alt: var(--color-base-10);
	--background-primary: var(--color-base-00);
	--mobile-sidebar-background: var(--background-primary);
	--background-secondary-alt: var(--color-base-30);
	--background-secondary: var(--color-base-20);
	--blockquote-border-color: var(--interactive-accent);
	--bold-weight: calc(var(--font-weight) + var(--bold-modifier));
	--button-radius: var(--input-radius);
	--callout-blend-mode: var(--highlight-mix-blend-mode);
	--callout-bug: var(--color-red-rgb);
	--callout-default: var(--color-blue-rgb);
	--callout-error: var(--color-red-rgb);
	--callout-example: var(--color-purple-rgb);
	--callout-fail: var(--color-red-rgb);
	--callout-important: var(--color-cyan-rgb);
	--callout-info: var(--color-blue-rgb);
	--callout-padding: var(--size-4-3) var(--size-4-3) var(--size-4-3) var(--size-4-6);
	--callout-question: var(--color-orange-rgb);
	--callout-radius: var(--radius-s);
	--callout-success: var(--color-green-rgb);
	--callout-summary: var(--color-cyan-rgb);
	--callout-tip: var(--color-cyan-rgb);
	--callout-title-weight: calc(var(--font-weight) + var(--bold-modifier));
	--callout-todo: var(--color-blue-rgb);
	--callout-warning: var(--color-orange-rgb);
	--canvas-background: var(--background-primary);
	--canvas-card-label-color: var(--text-faint);
	--canvas-color: var(--color-blue-rgb);
	--canvas-color-1: var(--color-red-rgb);
	--canvas-color-2: var(--color-orange-rgb);
	--canvas-color-3: var(--color-yellow-rgb);
	--canvas-color-4: var(--color-green-rgb);
	--canvas-color-5: var(--color-cyan-rgb);
	--canvas-color-6: var(--color-purple-rgb);
	--canvas-dot-pattern: var(--color-base-30);
	--shadow-border-themed-inset: inset 0 0 0 1px rgb(var(--canvas-color));
	--shadow-border-themed: 0 0 0 2px rgb(var(--canvas-color));
	--caret-color: var(--text-normal);
	--checkbox-border-color-hover: var(--text-muted);
	--checkbox-border-color: var(--text-faint);
	--checkbox-color-hover: var(--interactive-accent-hover);
	--checkbox-color: var(--interactive-accent);
	--checkbox-marker-color: var(--background-primary);
	--checkbox-radius: var(--radius-s);
	--checkbox-size: var(--font-text-size);
	--checklist-done-color: var(--text-muted);
	--clickable-icon-radius: var(--radius-s);
	--code-background: var(--background-primary-alt);
	--code-comment: var(--text-faint);
	--code-function: var(--color-yellow);
	--code-important: var(--color-orange);
	--code-keyword: var(--color-pink);
	--code-normal: var(--text-muted);
	--code-operator: var(--color-red);
	--code-property: var(--color-cyan);
	--code-punctuation: var(--text-muted);
	--code-radius: var(--radius-s);
	--code-size: var(--font-smaller);
	--code-string: var(--color-green);
	--code-tag: var(--color-red);
	--code-value: var(--color-purple);
	--collapse-icon-color-collapsed: var(--text-accent);
	--collapse-icon-color: var(--text-faint);
	--divider-color-hover: var(--interactive-accent);
	--divider-color: var(--background-modifier-border);
	--divider-vertical-height: calc(100% - var(--header-height));
	--dropdown-background-hover: var(--interactive-hover);
	--dropdown-background: var(--interactive-normal);
	--embed-block-shadow-hover: 0 0 0 1px var(--background-modifier-border),inset 0 0 0 1px var(--background-modifier-border);
	--embed-border-start: 2px solid var(--interactive-accent);
	--embed-padding: 0 0 0 var(--size-4-6);
	--file-header-border: var(--border-width) solid transparent;
	--file-header-font-size: var(--font-ui-small);
	--file-header-font: var(--font-interface);
	--file-margins: var(--size-4-8);
	--font-weight: var(--font-normal);
	--footnote-size: var(--font-smaller);
	--graph-line: var(--color-base-35, var(--background-modifier-border-focus));
	--graph-node-attachment: var(--color-yellow);
	--graph-node-focused: var(--text-accent);
	--graph-node-tag: var(--color-green);
	--graph-node-unresolved: var(--text-faint);
	--graph-node: var(--text-muted);
	--graph-text: var(--text-normal);
	--h5-line-height: var(--line-height-normal);
	--h6-line-height: var(--line-height-normal);
	--heading-formatting: var(--text-faint);
	--heading-spacing: calc(var(--p-spacing) * 2.5);
	--hr-color: var(--background-modifier-border);
	--icon-color-active: var(--text-accent);
	--icon-color-focused: var(--text-normal);
	--icon-color-hover: var(--text-muted);
	--icon-color: var(--text-muted);
	--icon-size: var(--icon-m);
	--icon-stroke: var(--icon-m-stroke-width);
	--indentation-guide-color-active: rgba(var(--mono-rgb-100), 0.3);
	--indentation-guide-color: rgba(var(--mono-rgb-100), 0.12);
	--inline-title-color: var(--h1-color);
	--inline-title-font: var(--h1-font);
	--inline-title-line-height: var(--h1-line-height);
	--inline-title-size: var(--h1-size);
	--inline-title-style: var(--h1-style);
	--inline-title-variant: var(--h1-variant);
	--inline-title-weight: var(--h1-weight);
	--input-font-weight: var(--font-normal);
	--link-color-hover: var(--text-accent-hover);
	--link-color: var(--text-accent);
	--link-external-color-hover: var(--text-accent-hover);
	--link-external-color: var(--text-accent);
	--link-unresolved-color: var(--text-accent);
	--link-unresolved-decoration-color: hsla(var(--interactive-accent-hsl), 0.3);
	--link-weight: var(--font-weight);
	--list-marker-color-collapsed: var(--text-accent);
	--list-marker-color-hover: var(--text-muted);
	--list-marker-color: var(--text-faint);
	--metadata-border-color: var(--background-modifier-border);
	--metadata-divider-color: var(--background-modifier-border);
	--metadata-input-background-active: var(--background-modifier-hover);
	--metadata-input-font-size: var(--font-smaller);
	--metadata-input-font: var(--font-interface);
	--metadata-input-height: calc(var(--font-text-size) * 1.75);
	--metadata-input-text-color: var(--text-normal);
	--metadata-label-background-active: var(--background-modifier-hover);
	--metadata-label-font-size: var(--font-smaller);
	--metadata-label-font: var(--font-interface);
	--metadata-label-text-color-hover: var(--text-muted);
	--metadata-label-text-color: var(--text-muted);
	--metadata-padding: var(--size-4-2) 0;
	--metadata-property-background-active: var(--background-modifier-hover);
	--metadata-sidebar-input-font-size: var(--font-ui-small);
	--metadata-sidebar-label-font-size: var(--font-ui-small);
	--modal-background: var(--background-primary);
	--modal-border-color: var(--color-base-40, var(--background-modifier-border-focus));
	--modal-border-width: var(--border-width);
	--modal-radius: var(--radius-l);
	--nav-collapse-icon-color-collapsed: var(--text-faint);
	--nav-collapse-icon-color: var(--collapse-icon-color);
	--nav-heading-color-collapsed-hover: var(--text-muted);
	--nav-heading-color-collapsed: var(--text-faint);
	--nav-heading-color-hover: var(--text-normal);
	--nav-heading-color: var(--text-normal);
	--nav-heading-weight-hover: var(--font-medium);
	--nav-heading-weight: var(--font-medium);
	--nav-indentation-guide-color: var(--indentation-guide-color);
	--nav-indentation-guide-width: var(--indentation-guide-width);
	--nav-item-background-active: var(--background-modifier-hover);
	--nav-item-background-hover: var(--background-modifier-hover);
	--nav-item-background-selected: hsla(var(--color-accent-hsl), 0.15);
	--nav-item-children-margin-start: var(--size-4-3);
	--nav-item-children-padding-start: var(--size-2-2);
	--nav-item-color-active: var(--text-normal);
	--nav-item-color-highlighted: var(--text-accent);
	--nav-item-color-hover: var(--text-normal);
	--nav-item-color-selected: var(--text-normal);
	--nav-item-color: var(--text-muted);
	--nav-item-padding: var(--size-4-1) var(--size-4-2) var(--size-4-1) var(--size-4-6);
	--nav-item-parent-padding: var(--nav-item-padding);
	--nav-item-size: var(--font-ui-small);
	--pdf-background: var(--background-primary);
	--pdf-page-background: var(--background-primary);
	--pdf-shadow: 0 0 0 1px var(--background-modifier-border);
	--pdf-sidebar-background: var(--background-primary);
	--pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
	--pill-border-color-hover: var(--background-modifier-border-hover);
	--pill-border-color: var(--background-modifier-border);
	--pill-border-width: var(--border-width);
	--pill-color-hover: var(--text-normal);
	--pill-color-remove-hover: var(--text-accent);
	--pill-color-remove: var(--text-faint);
	--pill-color: var(--text-muted);
	--popover-font-size: var(--font-text-size);
	--prompt-border-color: var(--color-base-40, var(--background-modifier-border-focus));
	--prompt-border-width: var(--border-width);
	--ribbon-background-collapsed: var(--background-primary);
	--ribbon-background: var(--background-secondary);
	--ribbon-padding: var(--size-4-2) var(--size-4-1) var(--size-4-3);
	--scrollbar-active-thumb-bg: rgba(var(--mono-rgb-100), 0.2);
	--scrollbar-bg: rgba(var(--mono-rgb-100), 0.05);
	--scrollbar-thumb-bg: rgba(var(--mono-rgb-100), 0.1);
	--search-clear-button-color: var(--text-muted);
	--search-icon-color: var(--text-muted);
	--search-result-background: var(--background-primary);
	--sidebar-markdown-font-size: calc(var(--font-text-size) * 0.9);
	--slider-thumb-border-color: var(--background-modifier-border-hover);
	--slider-track-background: var(--background-modifier-border);
	--status-bar-background: var(--background-secondary);
	--status-bar-border-color: var(--divider-color);
	--status-bar-font-size: var(--font-ui-smaller);
	--status-bar-radius: var(--radius-m) 0 0 0;
	--status-bar-scroll-padding: calc(var(--status-bar-font-size) + 18px);
	--status-bar-text-color: var(--text-muted);
	--swatch-shadow: inset 0 0 0 1px rgba(var(--mono-rgb-100), 0.15);
	--sync-avatar-color-1: var(--color-red);
	--sync-avatar-color-2: var(--color-orange);
	--sync-avatar-color-3: var(--color-yellow);
	--sync-avatar-color-4: var(--color-green);
	--sync-avatar-color-5: var(--color-cyan);
	--sync-avatar-color-6: var(--color-blue);
	--sync-avatar-color-7: var(--color-purple);
	--sync-avatar-color-8: var(--color-pink);
	--tab-background-active: var(--background-primary);
	--tab-container-background: var(--background-secondary);
	--tab-divider-color: var(--background-modifier-border-hover);
	--tab-font-size: var(--font-ui-small);
	--tab-outline-color: var(--divider-color);
	--tab-radius: var(--radius-s);
	--tab-stacked-font-size: var(--font-ui-small);
	--tab-stacked-header-width: var(--header-height);
	--tab-switcher-background: var(--background-secondary);
	--tab-switcher-menubar-background: var(--mobile-sidebar-background);
	--tab-switcher-preview-radius: var(--radius-xl);
	--tab-switcher-preview-shadow-active: 0 0 0 2px var(--color-accent);
	--tab-switcher-preview-shadow: 0 0 0 1px rgba(var(--mono-rgb-100), 0.05);
	--tab-text-color-active: var(--text-muted);
	--tab-text-color-focused-active-current: var(--text-normal);
	--tab-text-color-focused-active: var(--text-muted);
	--tab-text-color-focused-highlighted: var(--text-accent);
	--tab-text-color-focused: var(--text-muted);
	--tab-text-color: var(--text-faint);
	--table-add-button-border-color: var(--background-modifier-border);
	--table-add-button-border-width: var(--table-border-width);
	--table-border-color: var(--background-modifier-border);
	--table-column-alt-background: var(--table-background);
	--table-column-first-border-width: var(--table-border-width);
	--table-column-last-border-width: var(--table-border-width);
	--table-selection-border-color: var(--interactive-accent);
	--table-drag-handle-background-active: var(--table-selection-border-color);
	--table-drag-handle-color-active: var(--text-on-accent);
	--table-drag-handle-color: var(--text-faint);
	--table-header-background: var(--table-background);
	--table-header-border-color: var(--table-border-color);
	--table-header-border-width: var(--table-border-width);
	--table-header-color: var(--text-normal);
	--table-text-size: var(--font-text-size);
	--table-header-size: var(--table-text-size);
	--table-header-weight: calc(var(--font-weight) + var(--bold-modifier));
	--table-line-height: var(--line-height-tight);
	--table-row-alt-background-hover: var(--table-background);
	--table-row-alt-background: var(--table-background);
	--table-row-background-hover: var(--table-background);
	--table-row-last-border-width: var(--table-border-width);
	--table-selection-blend-mode: var(--highlight-mix-blend-mode);
	--table-selection: hsla(var(--color-accent-hsl), 0.1);
	--tag-background-hover: hsla(var(--interactive-accent-hsl), 0.2);
	--tag-background: hsla(var(--interactive-accent-hsl), 0.1);
	--tag-border-color-hover: hsla(var(--interactive-accent-hsl), 0.15);
	--tag-border-color: hsla(var(--interactive-accent-hsl), 0.15);
	--tag-color-hover: var(--text-accent);
	--tag-color: var(--text-accent);
	--tag-size: var(--font-smaller);
	--titlebar-background-focused: var(--background-secondary-alt);
	--titlebar-background: var(--background-secondary);
	--titlebar-border-color: var(--background-modifier-border);
	--titlebar-text-color-focused: var(--text-normal);
	--titlebar-text-color: var(--text-muted);
	--titlebar-text-weight: var(--font-bold);
	--vault-profile-color: var(--text-normal);
	--vault-profile-color-hover: var(--vault-profile-color);
	--vault-profile-font-size: var(--font-ui-small);
	--vault-profile-font-weight: var(--font-medium);
	--workspace-background-translucent: rgba(var(--mono-rgb-0), 0.6);


	--background-modifier-active-hover: hsla(var(--interactive-accent-hsl), 0.15);
	--background-modifier-border-focus: var(--color-base-40);
	--background-modifier-border-hover: var(--color-base-35);
	--background-modifier-border: var(--color-base-30);
	--background-modifier-error-hover: var(--color-red);
	--background-modifier-error-rgb: var(--color-red-rgb);
	--background-modifier-error: var(--color-red);
	--background-modifier-form-field: var(--color-base-00);
	--background-modifier-form-field: var(--color-base-25);
	--background-modifier-hover: rgba(var(--mono-rgb-100), 0.075);
	--background-modifier-success-rgb: var(--color-green-rgb);
	--background-modifier-success: var(--color-green);
	--background-primary-alt: var(--color-base-10);
	--background-primary: var(--color-base-00);
	--background-secondary-alt: var(--color-base-30);
	--background-secondary: var(--color-base-20);
	--blockquote-border-color: var(--interactive-accent);
	--bold-weight: calc(var(--font-weight) + var(--bold-modifier));
	--button-radius: var(--input-radius);
	--callout-blend-mode: var(--highlight-mix-blend-mode);
	--callout-bug: var(--color-red-rgb);
	--callout-default: var(--color-blue-rgb);
	--callout-color: var(--callout-default);
	--callout-error: var(--color-red-rgb);
	--callout-example: var(--color-purple-rgb);
	--callout-fail: var(--color-red-rgb);
	--callout-important: var(--color-cyan-rgb);
	--callout-info: var(--color-blue-rgb);
	--callout-padding: var(--size-4-3) var(--size-4-3) var(--size-4-3) var(--size-4-6);
	--callout-question: var(--color-orange-rgb);
	--callout-radius: var(--radius-s);
	--callout-success: var(--color-green-rgb);
	--callout-summary: var(--color-cyan-rgb);
	--callout-tip: var(--color-cyan-rgb);
	--callout-title-weight: calc(var(--font-weight) + var(--bold-modifier));
	--callout-todo: var(--color-blue-rgb);
	--callout-warning: var(--color-orange-rgb);
	--canvas-background: var(--background-primary);
	--canvas-card-label-color: var(--text-faint);
	--canvas-color: var(--color-blue-rgb);
	--canvas-color-1: var(--color-red-rgb);
	--canvas-color-2: var(--color-orange-rgb);
	--canvas-color-3: var(--color-yellow-rgb);
	--canvas-color-4: var(--color-green-rgb);
	--canvas-color-5: var(--color-cyan-rgb);
	--canvas-color-6: var(--color-purple-rgb);
	--canvas-dot-pattern: var(--color-base-30);
	--caret-color: var(--text-normal);
	--checkbox-border-color-hover: var(--text-muted);
	--checkbox-border-color: var(--text-faint);
	--checkbox-color-hover: var(--interactive-accent-hover);
	--checkbox-color: var(--interactive-accent);
	--checkbox-marker-color: var(--background-primary);
	--checkbox-radius: var(--radius-s);
	--checkbox-size: var(--font-text-size);
	--checklist-done-color: var(--text-muted);
	--clickable-icon-radius: var(--radius-s);
	--code-background: var(--background-primary-alt);
	--code-comment: var(--text-faint);
	--code-function: var(--color-yellow);
	--code-important: var(--color-orange);
	--code-keyword: var(--color-pink);
	--code-normal: var(--text-muted);
	--code-operator: var(--color-red);
	--code-property: var(--color-cyan);
	--code-punctuation: var(--text-muted);
	--code-radius: var(--radius-s);
	--code-size: var(--font-smaller);
	--code-string: var(--color-green);
	--code-tag: var(--color-red);
	--code-value: var(--color-purple);
	--collapse-icon-color-collapsed: var(--text-accent);
	--collapse-icon-color: var(--text-faint);
	--color-accent-1: hsl(calc(var(--accent-h) - 3), calc(var(--accent-s) * 1.02), calc(var(--accent-l) * 1.15));
	--color-accent-2: hsl(calc(var(--accent-h) - 5), calc(var(--accent-s) * 1.05), calc(var(--accent-l) * 1.29));
	--color-accent-hsl: var(--accent-h),var(--accent-s),var(--accent-l);
	--color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
	--divider-color-hover: var(--interactive-accent);
	--divider-color: var(--background-modifier-border);
	--divider-vertical-height: calc(100% - var(--header-height));
	--dropdown-background-hover: var(--interactive-hover);
	--dropdown-background: var(--interactive-normal);
	--embed-block-shadow-hover: 0 0 0 1px var(--background-modifier-border),inset 0 0 0 1px var(--background-modifier-border);
	--embed-border-start: 2px solid var(--interactive-accent);
	--embed-padding: 0 0 0 var(--size-4-6);
	--file-header-border: var(--border-width) solid transparent;
	--file-header-font-size: var(--font-ui-small);
	--file-header-font: var(--font-interface);
	--file-margins: var(--size-4-8);
	--font-weight: var(--font-normal);
	--footnote-size: var(--font-smaller);
	--graph-line: var(--color-base-35, var(--background-modifier-border-focus));
	--graph-node-attachment: var(--color-yellow);
	--graph-node-focused: var(--text-accent);
	--graph-node-tag: var(--color-green);
	--graph-node-unresolved: var(--text-faint);
	--graph-node: var(--text-muted);
	--graph-text: var(--text-normal);
	--h5-line-height: var(--line-height-normal);
	--h6-line-height: var(--line-height-normal);
	--heading-formatting: var(--text-faint);
	--heading-spacing: calc(var(--p-spacing) * 2.5);
	--hr-color: var(--background-modifier-border);
	--icon-color-active: var(--text-accent);
	--icon-color-focused: var(--text-normal);
	--icon-color-hover: var(--text-muted);
	--icon-color: var(--text-muted);
	--icon-size: var(--icon-m);
	--icon-stroke: var(--icon-m-stroke-width);
	--indentation-guide-color-active: rgba(var(--mono-rgb-100), 0.3);
	--indentation-guide-color: rgba(var(--mono-rgb-100), 0.12);
	--inline-title-color: var(--h1-color);
	--inline-title-font: var(--h1-font);
	--inline-title-line-height: var(--h1-line-height);
	--inline-title-size: var(--h1-size);
	--inline-title-style: var(--h1-style);
	--inline-title-variant: var(--h1-variant);
	--inline-title-weight: var(--h1-weight);
	--input-font-weight: var(--font-normal);
	--interactive-accent-hover: var(--color-accent-1);
	--interactive-accent-hover: var(--color-accent-2);
	--interactive-accent-hsl: var(--color-accent-hsl);
	--interactive-accent: var(--color-accent);
	--interactive-accent: var(--color-accent-1);
	--interactive-hover: var(--color-base-10);
	--interactive-hover: var(--color-base-35);
	--interactive-normal: var(--color-base-00);
	--interactive-normal: var(--color-base-30);
	--link-color-hover: var(--text-accent-hover);
	--link-color: var(--text-accent);
	--link-external-color-hover: var(--text-accent-hover);
	--link-external-color: var(--text-accent);
	--link-unresolved-color: var(--text-accent);
	--link-unresolved-decoration-color: hsla(var(--interactive-accent-hsl), 0.3);
	--link-weight: var(--font-weight);
	--list-marker-color-collapsed: var(--text-accent);
	--list-marker-color-hover: var(--text-muted);
	--list-marker-color: var(--text-faint);
	--metadata-border-color: var(--background-modifier-border);
	--metadata-divider-color: var(--background-modifier-border);
	--metadata-input-background-active: var(--background-modifier-hover);
	--metadata-input-font-size: var(--font-smaller);
	--metadata-input-font: var(--font-interface);
	--metadata-input-height: calc(var(--font-text-size) * 1.75);
	--metadata-input-text-color: var(--text-normal);
	--metadata-label-background-active: var(--background-modifier-hover);
	--metadata-label-font-size: var(--font-smaller);
	--metadata-label-font: var(--font-interface);
	--metadata-label-text-color-hover: var(--text-muted);
	--metadata-label-text-color: var(--text-muted);
	--metadata-padding: var(--size-4-2) 0;
	--metadata-property-background-active: var(--background-modifier-hover);
	--metadata-sidebar-input-font-size: var(--font-ui-small);
	--metadata-sidebar-label-font-size: var(--font-ui-small);
	--modal-background: var(--background-primary);
	--modal-border-color: var(--color-base-40, var(--background-modifier-border-focus));
	--modal-border-width: var(--border-width);
	--modal-radius: var(--radius-l);
	--nav-collapse-icon-color-collapsed: var(--text-faint);
	--nav-collapse-icon-color: var(--collapse-icon-color);
	--nav-heading-color-collapsed-hover: var(--text-muted);
	--nav-heading-color-collapsed: var(--text-faint);
	--nav-heading-color-hover: var(--text-normal);
	--nav-heading-color: var(--text-normal);
	--nav-heading-weight-hover: var(--font-medium);
	--nav-heading-weight: var(--font-medium);
	--nav-indentation-guide-color: var(--indentation-guide-color);
	--nav-indentation-guide-width: var(--indentation-guide-width);
	--nav-item-background-active: var(--background-modifier-hover);
	--nav-item-background-hover: var(--background-modifier-hover);
	--nav-item-background-selected: hsla(var(--color-accent-hsl), 0.15);
	--nav-item-children-margin-start: var(--size-4-3);
	--nav-item-children-padding-start: var(--size-2-2);
	--nav-item-color-active: var(--text-normal);
	--nav-item-color-highlighted: var(--text-accent);
	--nav-item-color-hover: var(--text-normal);
	--nav-item-color-selected: var(--text-normal);
	--nav-item-color: var(--text-muted);
	--nav-item-padding: var(--size-4-1) var(--size-4-2) var(--size-4-1) var(--size-4-6);
	--nav-item-parent-padding: var(--nav-item-padding);
	--nav-item-size: var(--font-ui-small);
	--pdf-background: var(--background-primary);
	--pdf-page-background: var(--background-primary);
	--pdf-shadow: 0 0 0 1px var(--background-modifier-border);
	--pdf-sidebar-background: var(--background-primary);
	--pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
	--pill-border-color-hover: var(--background-modifier-border-hover);
	--pill-border-color: var(--background-modifier-border);
	--pill-border-width: var(--border-width);
	--pill-color-hover: var(--text-normal);
	--pill-color-remove-hover: var(--text-accent);
	--pill-color-remove: var(--text-faint);
	--pill-color: var(--text-muted);
	--popover-font-size: var(--font-text-size);
	--prompt-border-color: var(--color-base-40, var(--background-modifier-border-focus));
	--prompt-border-width: var(--border-width);
	--ribbon-background-collapsed: var(--background-primary);
	--ribbon-background: var(--background-secondary);
	--ribbon-padding: var(--size-4-2) var(--size-4-1) var(--size-4-3);
	--scrollbar-active-thumb-bg: rgba(var(--mono-rgb-100), 0.2);
	--scrollbar-bg: rgba(var(--mono-rgb-100), 0.05);
	--scrollbar-thumb-bg: rgba(var(--mono-rgb-100), 0.1);
	--search-clear-button-color: var(--text-muted);
	--search-icon-color: var(--text-muted);
	--search-result-background: var(--background-primary);
	--sidebar-markdown-font-size: calc(var(--font-text-size) * 0.9);
	--slider-thumb-border-color: var(--background-modifier-border-hover);
	--slider-track-background: var(--background-modifier-border);
	--status-bar-background: var(--background-secondary);
	--status-bar-border-color: var(--divider-color);
	--status-bar-font-size: var(--font-ui-smaller);
	--status-bar-radius: var(--radius-m) 0 0 0;
	--status-bar-scroll-padding: calc(var(--status-bar-font-size) + 18px);
	--status-bar-text-color: var(--text-muted);
	--swatch-shadow: inset 0 0 0 1px rgba(var(--mono-rgb-100), 0.15);
	--sync-avatar-color-1: var(--color-red);
	--sync-avatar-color-2: var(--color-orange);
	--sync-avatar-color-3: var(--color-yellow);
	--sync-avatar-color-4: var(--color-green);
	--sync-avatar-color-5: var(--color-cyan);
	--sync-avatar-color-6: var(--color-blue);
	--sync-avatar-color-7: var(--color-purple);
	--sync-avatar-color-8: var(--color-pink);
	--tab-background-active: var(--background-primary);
	--tab-container-background: var(--background-secondary);
	--tab-divider-color: var(--background-modifier-border-hover);
	--tab-font-size: var(--font-ui-small);
	--tab-outline-color: var(--divider-color);
	--tab-radius: var(--radius-s);
	--tab-stacked-font-size: var(--font-ui-small);
	--tab-stacked-header-width: var(--header-height);
	--tab-switcher-background: var(--background-secondary);
	--tab-switcher-menubar-background: var(--mobile-sidebar-background);
	--tab-switcher-preview-radius: var(--radius-xl);
	--tab-switcher-preview-shadow-active: 0 0 0 2px var(--color-accent);
	--tab-switcher-preview-shadow: 0 0 0 1px rgba(var(--mono-rgb-100), 0.05);
	--tab-text-color-active: var(--text-muted);
	--tab-text-color-focused-active-current: var(--text-normal);
	--tab-text-color-focused-active: var(--text-muted);
	--tab-text-color-focused-highlighted: var(--text-accent);
	--tab-text-color-focused: var(--text-muted);
	--tab-text-color: var(--text-faint);
	--table-add-button-border-color: var(--background-modifier-border);
	--table-add-button-border-width: var(--table-border-width);
	--table-border-color: var(--background-modifier-border);
	--table-column-alt-background: var(--table-background);
	--table-column-first-border-width: var(--table-border-width);
	--table-column-last-border-width: var(--table-border-width);
	--table-drag-handle-background-active: var(--table-selection-border-color);
	--table-drag-handle-color-active: var(--text-on-accent);
	--table-drag-handle-color: var(--text-faint);
	--table-header-background: var(--table-background);
	--table-header-border-color: var(--table-border-color);
	--table-header-border-width: var(--table-border-width);
	--table-header-color: var(--text-normal);
	--table-header-size: var(--table-text-size);
	--table-header-weight: calc(var(--font-weight) + var(--bold-modifier));
	--table-line-height: var(--line-height-tight);
	--table-row-alt-background-hover: var(--table-background);
	--table-row-alt-background: var(--table-background);
	--table-row-background-hover: var(--table-background);
	--table-row-last-border-width: var(--table-border-width);
	--table-selection-blend-mode: var(--highlight-mix-blend-mode);
	--table-selection-border-color: var(--interactive-accent);
	--table-selection: hsla(var(--color-accent-hsl), 0.1);
	--table-text-size: var(--font-text-size);
	--tag-background-hover: hsla(var(--interactive-accent-hsl), 0.2);
	--tag-background: hsla(var(--interactive-accent-hsl), 0.1);
	--tag-border-color-hover: hsla(var(--interactive-accent-hsl), 0.15);
	--tag-border-color: hsla(var(--interactive-accent-hsl), 0.15);
	--tag-color-hover: var(--text-accent);
	--tag-color: var(--text-accent);
	--tag-size: var(--font-smaller);
	--text-accent-hover: var(--color-accent-2);
	--text-accent: var(--color-accent);
	--text-accent: var(--color-accent-1);
	--text-error: var(--color-red);
	--text-faint: var(--color-base-50);
	--text-highlight-bg: rgba(var(--text-highlight-bg-rgb), 0.4);
	--text-muted: var(--color-base-70);
	--text-normal: var(--color-base-100);
	--text-selection: hsla(var(--color-accent-hsl), 0.2);
	--text-selection: hsla(var(--interactive-accent-hsl), 0.25);
	--text-success: var(--color-green);
	--text-warning: var(--color-orange);
	--titlebar-background-focused: var(--background-secondary-alt);
	--titlebar-background: var(--background-secondary);
	--titlebar-border-color: var(--background-modifier-border);
	--titlebar-text-color-focused: var(--text-normal);
	--titlebar-text-color: var(--text-muted);
	--titlebar-text-weight: var(--font-bold);
	--vault-profile-color-hover: var(--vault-profile-color);
	--vault-profile-color: var(--text-normal);
	--vault-profile-font-size: var(--font-ui-small);
	--vault-profile-font-weight: var(--font-medium);
	--workspace-background-translucent: rgba(var(--mono-rgb-0), 0.6);
/* eva overrides */
	--background-modifier-border: #2c1c42;
	--background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
	--background-modifier-cover: #151515;
	--background-modifier-error-hover: #db6088;
	--background-modifier-error-rgb: 61, 0, 0;
	--background-modifier-error: #db6088;
	--background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
	--background-modifier-form-field: rgba(0, 0, 0, 0.3);
	--background-modifier-success: #8edf5f;
	--background-primary-alt: #39274c;
	--background-primary: #201430;
	--background-secondary-alt: #483160;
	--background-secondary: #452f5c;
	--divider-color-hover: #39274c;
	--divider-color: #452f5c;
	--highlight-mix-blend-mode: darken;
	--interactive-accent: #8edf5f;
	--interactive-accent-hover: #87ff5f;
	--interactive-normal: #43492a;
	--interactive-hover: #444444;
	--interactive-success: #8edf5f;
	--ribbon-background: #483160;
	--scrollbar-active-th: rgba(255, 255, 255, 0.2);
	--scrollbar-bg: rgba(255, 255, 255, 0.05);
	--scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
	--link-color-hover: #ce67f0;
	--link-color: #b968fc;
	--link-decoration: dashed;
	--link-external-color-hover: #ce67f0;
	--link-external-color: #b968fc;
	--link-external-decoration: wavy;
	--link-unresolved-color: #666;
	--link-unresolved-decoration-color: #9f50e1;
	--text-accent-hover: #875faf;
	--text-accent: #875faf;
	--text-error-hover: #db6088;
	--text-error: #db6088;
	--text-faint: #ada4a0;
	--text-highlight-bg-active: rgba(135, 255, 95, 1);
	--text-highlight-bg: rgba(135, 255, 95, 0.85);
	--text-muted-rgb: 153, 153, 153;
	--text-muted: #d4d4d4;
	--text-normal: #e1d6f8;
	--text-on-accent: #d4d4d4;
	--text-selection: #9cda7c;
	--code-background: #30213f;
	--code-comment: #a1a0ad;
	--code-function: #9cda7c;
	--code-important: #8bd450;
	--code-keyword: #87ff5f;
	--code-normal: #e1d6f8;
	--code-operator: #b968fc;
	--code-property: #ce67f0;
	--code-punctuation: #b968fc;
	--code-string: #ab92fc;
	--code-tag: #e6bb85;
	--code-value: #d99145;
	--table-background: transparent;
	--table-border-color: #483160;
	--table-border-width: 1;
	--table-header-background: #9f50e1;
	--table-header-border-color: #9f50e1;
	--table-header-color: #000000;
	--table-text-color: #e1d6f8;
	--table-selection: #9cda7c;
	--table-selection-border-color: #87ff5f;
	--table-selection-border-width: 1;
	--table-drag-handle-background: #452f5c;
	--table-drag-handle-color: #e1d6f8;
	--table-add-button-background: #452f5c;
	--table-add-button-border-width: 0;
	--table-add-button-border-color: #e1d6f8;
	--tag-color: #87ff5f;
	--tag-background: #67478a;
	--tag-radius: 0px;
	--tab-curve: 0;
	--tab-gap: 5px;
	--tab-radius: 0;
	--tab-radius-active: 0;
	--input-radius: 0px;
	--dropdown-background: #39274c;
	--prompt-border-width: 1px;
	--prompt-border-color: #67478a;
	--nav-indentation-guide-color: #28163b;
	--nav-collapse-icon-color: #d99145;
	--nav-collapse-icon-color-collapsed: #c88034;

/* expressive code  */
	--ec-brdRad: 0.5rem;
	--ec-brdWd: 1px;
	--ec-brdCol: #1b1f23;
	--ec-codeFontFml: var(--font-monospace-default);
	--ec-codeFontSize: var(--font-smaller);
	--ec-codeFontWg: 400;
	--ec-codeLineHt: var(--line-height);
	--ec-codePadBlk: 0.75rem;
	--ec-codePadInl: 1rem;
	--ec-codeBg: #24292e;
	--ec-codeFg: #e1e4e8;
	--ec-codeSelBg: #3392ff;
	--ec-gtrFg: #727980;
	--ec-gtrBrdCol: #201430;
	--ec-gtrBrdWd: 1.5px;
	--ec-gtrHlFg: #e1e4e8;
	--ec-uiFontFml: var(--font-monospace-default);
	--ec-uiFontSize: 0.9rem;
	--ec-uiFontWg: 400;
	--ec-uiLineHt: 1.65;
	--ec-uiPadBlk: 0.25rem;
	--ec-uiPadInl: 1rem;
	--ec-uiSelBg: #39414a;
	--ec-uiSelFg: #e1e4e8;
	--ec-focusBrd: #005cc5;
	--ec-sbThumbCol: #6a737d33;
	--ec-sbThumbHoverCol: #6a737d;
	--ec-tm-lineMarkerAccentMarg: 0rem;
	--ec-tm-lineMarkerAccentWd: 0.15rem;
	--ec-tm-lineMarkerLabelPadInl: 0.2rem;
	--ec-tm-lineMarkerLabelCol: white;
	--ec-tm-lineDiffIndMargLeft: 0.25rem;
	--ec-tm-inlMarkerBrdWd: 1.5px;
	--ec-tm-inlMarkerBrdRad: 0.2rem;
	--ec-tm-inlMarkerPad: 0.15rem;
	--ec-tm-insDiffIndContent: '+';
	--ec-tm-delDiffIndContent: '-';
	--ec-tm-markBg: #174a9099;
	--ec-tm-markBrdCol: #4d70bc;
	--ec-tm-insBg: #1e5715;
	--ec-tm-insBrdCol: #487f3b;
	--ec-tm-insDiffIndCol: #79b169;
	--ec-tm-delBg: #862d27;
	--ec-tm-delBrdCol: #b4554b;
	--ec-tm-delDiffIndCol: #ed8779;
	--ec-frm-shdCol: #000000;
	--ec-frm-frameBoxShdCssVal: 0.1rem 0.1rem 0.2rem #000000;
	--ec-frm-edActTabBg: #24292e;
	--ec-frm-edActTabFg: #e1e4e8;
	--ec-frm-edActTabBrdCol: transparent;
	--ec-frm-edActTabIndHt: 1px;
	--ec-frm-edActTabIndTopCol: #f9826c;
	--ec-frm-edActTabIndBtmCol: #24292e;
	--ec-frm-edTabsMargInlStart: 0;
	--ec-frm-edTabsMargBlkStart: 0;
	--ec-frm-edTabBrdRad: 0.5rem;
	--ec-frm-edTabBarBg: #1f2428;
	--ec-frm-edTabBarBrdCol: #1b1f23;
	--ec-frm-edTabBarBrdBtmCol: #1b1f23;
	--ec-frm-edBg: #24292e;
	--ec-frm-trmTtbFg: #e1e4e8;
	--ec-frm-trmTtbDotsFg: #e1e4e8;
	--ec-frm-trmTtbDotsOpa: 0.15;
	--ec-frm-trmTtbBg: #24292e;
	--ec-frm-trmTtbBrdBtmCol: #1b1f23;
	--ec-frm-trmBg: #1f2428;
	--ec-frm-inlBtnFg: #e1e4e8;
	--ec-frm-inlBtnBg: #e1e4e8;
	--ec-frm-inlBtnBgIdleOpa: 0;
	--ec-frm-inlBtnBgHoverOrFocusOpa: 0.2;
	--ec-frm-inlBtnBgActOpa: 0.3;
	--ec-frm-inlBtnBrd: #e1e4e8;
	--ec-frm-inlBtnBrdOpa: 0.4;
	--ec-frm-tooltipSuccessBg: #228739;
	--ec-frm-tooltipSuccessFg: white;
	--ec-cs-closedBrdWd: 0;
	--ec-cs-closedPadBlk: 4px;
	--ec-cs-closedMarg: 0;
	--ec-cs-closedFontFml: inherit;
	--ec-cs-closedFontSize: inherit;
	--ec-cs-closedLineHt: inherit;
	--ec-cs-closedTextCol: inherit;
	--ec-cs-closedBgCol: #58606933;
	--ec-cs-closedBrdCol: #58606980;
	--ec-cs-openBrdWd: 1px;
	--ec-cs-openPad: 0;
	--ec-cs-openMarg: 0;
	--ec-cs-openBgCol: transparent;
	--ec-cs-openBrdCol: transparent;
	--ec-lineNumbers-fg: inherit;
	--ec-lineNumbers-hlFg: inherit;
	--ecLineBrdCol: transparent;
	--header-border-radius: calc(var(--ec-brdRad) + var(--ec-brdWd));
	--tab-border-radius: 0;
	--button-spacing: 0.4rem;
	--code-background: var(--ec-frm-edBg);
}
